* {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  max-width: 94%;
  padding: 0% 3%;
  display: grid;
  grid-template-areas: 'header article' 'nav main' 'aside section' 'footer footer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 10vh;
}
header {
  background-color: black;
  color: white;
  display: grid;
}
header h1 {
  padding: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
header ul li {
  padding: 0px 40px 0px 0px;
}
header ul li a {
  font-size: 18px;
  padding: 20px;
  color: white;
  display: grid;
  justify-content: center;
}
header ul li a:hover {
  background-color: #2a97c2;
}
article {
  background-image: url(https://www.w3schools.com/w3images/avatar3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  display: grid;
  position: relative;
}
article h1 {
  font-size: 30px;
  color: white;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  margin-top: -230px;
  margin-left: 280px;
}
article div {
  padding: 37vh 1px 1px 1px;
}
article div p {
  font-size: 20px;
  color: white;
  display: grid;
  justify-content: center;
  padding: 10px 0px;
}
nav {
  display: grid;
  background-color: rgba(207, 193, 193, 0.842);
}
nav > p {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
nav div {
  display: grid;
  height: 100px;
}
nav div img {
  width: 100%;
}
nav div h2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
nav div p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
nav .first_couple {
  display: flex;
}
nav .second_couple {
  display: flex;
}
nav .firth_couple {
  display: flex;
}
main {
  background-color: blue;
  display: grid;
}
main div h2 {
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
main div p {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main div table {
  display: grid;
  justify-content: center;
}
main div table tr:nth-of-type(even) {
  background-color: white;
}
main div table tr th {
  color: white;
}
main div table tr td {
  font-size: 20px;
  padding: 10px;
}
aside {
  background-color: #777676;
  display: grid;
}
aside div h1 {
  font-size: 25px;
  color: white;
  display: grid;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}
aside div p {
  color: white;
  font-size: 20px;
  padding: 15px 0px;
  display: grid;
  justify-content: center;
}
section {
  background-color: #4bcece;
}
section div h1 {
  font-size: 25px;
  color: white;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
}
section div p {
  margin-bottom: 15px;
  color: whitesmoke;
  margin-left: 20px;
}
section form div {
  margin-left: 20px;
}
section form div hr {
  width: 80%;
}
section form div input {
  background-color: white;
  height: 60px;
  width: 80%;
  border: white;
  padding: 10px;
}
section form .button_div {
  background-color: white;
  width: 81%;
  height: 60px;
}
section form .button_div button {
  background-color: #4bcece;
  height: 40px;
  width: 100px;
  margin-left: 440px;
}
footer {
  background-color: black;
}
footer p {
  color: white;
  padding: 20px;
}
footer p a {
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  body {
    grid-template-areas: 'header' 'article' 'nav' 'main' 'section' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
